<!-- templates/panel.html -->

<!DOCTYPE html>
<html lang="zh-han">
    <head>
        <title>管理中心</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="./static/css/common.css" rel="stylesheet">
    </head>
    <body>
    <h3>管理中心</h3>
    <ul id="users"></ul>
    <button onclick="jump()">退出</button>
    

    <script src="./static/jquery-3.5.1/jquery-3.5.1.js"></script>
    <script src="./static/js/admin.js"></script>
    </body>
</html>